@{
    Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new Machine</h4>
<div class="col">

    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name, new { @class = "form-label"})
        @Html.TextBoxFor(model => model.Name,  new { @class = "form-control"})
        <br>
        <!-- @Html.LabelFor(model => model.Engineer)
        @Html.DropDownListFor(model => model.EngineerId, (SelectList)ViewBag.EngineerId, "Select a Engineer", new { @class = "form-control" }) -->
        <br><br>
        <input type="submit" value="Add new Machine" class="btn btn-primary btn-sm" />
    }
    <br>
<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;"}) </p>
<p>@Html.ActionLink("Show all Machines", "Index")</p>
<p>@Html.ActionLink("Back to Home Page", "Index", "Home")</p>

</div>


